-
    var accordionItems = [
        {
            headingContent: 'Item 1',
            bodyContent: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, temporibus.'
        },
        {
            headingContent: 'Item 2',
            bodyContent: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, temporibus.'
        },
        {
            headingContent: 'Item 3',
            bodyContent: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, temporibus.'
        }
    ]

mixin acc(id='accordionExample', accItems=accordionItems)
    .accordion(id=`${id}`)
        each item, index in accItems
            .accordion-item
                h2.accordion-header(id=`heading_${id}${index}`)
                    button.accordion-button.collapsed(
                        type='button' data-bs-toggle='collapse'
                        data-bs-target=`#panel_${id}${index}`
                        aria-expanded='false'
                        aria-controls=`panel_${id}${index}`)
                        = item.headingContent
                .accordion-collapse.collapse(
                    aria-labelledby=`heading_${id}${index}`
                    data-bs-parent=`#${id}`
                    id=`panel_${id}${index}`)
                    .accordion-body
                        = item.bodyContent

